<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Code&Care{% endblock %}</title>
</head>
<body>
<div id="content">
    {% block body %}
        <a href="{{ path('categories') }}">Categories</a>
        <div class="all_products">
            <ul>
                <div>All products:</div>
                {% for product in products %}
                    <li>
                        <div id="single_product">
                            <div>{{ product.getName() }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
</div>
</body>
</html>